.st0
{
  background : #000000;
  background : rgba(0, 0, 0, 1);
  opacity : 0.6;
  filter: alpha(opacity=60) progid:DXImageTransform.Microsoft.Alpha(opacity=60) ;
}
.NormalCharacterStyle7
{
  font-family : Open Sans;
  font-size : 14px;
  color : #572D88;
  color : rgb(87, 45, 136);
}
.NormalCharacterStyle9
{
  font-family : Open Sans;
  font-size : 14px;
  color : #572D88;
  color : rgb(87, 45, 136);
}
.NormalCharacterStyle8
{
  font-family : Open Sans;
  font-size : 14px;
  color : #572D88;
  color : rgb(87, 45, 136);
}
.NormalCharacterStyle4
{
  font-family : Open Sans;
  font-size : 14px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
  font-family : Open Sans;
  font-size : 14px;
  color : #572D88;
  color : rgb(87, 45, 136);
}
.NormalCharacterStyle1
{
  font-family : Open Sans;
  font-size : 14px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
  font-family : Open Sans;
  font-size : 14px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
  font-family : Open Sans;
  font-size : 14px;
  color : #572D88;
  color : rgb(87, 45, 136);
}
.NormalCharacterStyle2
{
  font-family : Open Sans;
  font-size : 14px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
  font-family : Open Sans;
  font-size : 14px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
